# M07 Exercises

DS 5100 | Summer 2022

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

iris = sns.load_dataset('iris')

# Exercise 7.1

Create a dataframe called `dat` by passing a dictionary of inputs. Here are the requirements:
- has a column named `features` containing floats
- has a column named `labels` containing integers $0, 1, 2$  

Then print the dataframe.

In [2]:
dat = pd.DataFrame({
    'features':[0.2,-1.1,1.6, 5.4], 
    'labels':[1,1,0,2]}
)

In [3]:
dat

   features  labels
0       0.2       1
1      -1.1       1
2       1.6       0
3       5.4       2

# Exercise 7.2

Rename the `labels` column in `dat` to `label`.

In [4]:
dat = dat.rename(columns={'labels':'label'})

In [5]:
dat

   features  label
0       0.2      1
1      -1.1      1
2       1.6      0
3       5.4      2

# Exercise 7.3

Sort the iris dataset by species, descending.

In [6]:
iris_sort = iris.sort_values(by=['species'], ascending=False)

In [7]:
iris_sort

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

# Exercise 7.4

Filter the iris dataset to show only `species = 'setosa'`, and save to df called `setosa`.  

Next, call the `value_counts()` function on `setosa.species` to show the only species in the df is setosa.

In [8]:
setosa = iris[iris.species=='setosa']
setosa.species.value_counts()

setosa    50
Name: species, dtype: int64

# Exercise 7.5

Print the number of records in iris where petal_length $<= 1.4$ or petal_length $>= 1.6$  

Hint1: check how to implement "or" in pandas  

Hint2: subset using boolean indexing, and count the number of resulting records with `len()`

In [30]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)])

137

In [29]:
(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)]).shape[0]

137

# Exercise 7.6

Use `apply()` to append a new column that is the minimum of (petal_length, petal_width)

Display the head, tail of the new dataframe to check things look correct.

In [33]:
iris['min_petal'] = iris[['petal_length','petal_width']]\
    .apply(lambda x: min(x.petal_length, x.petal_width), axis=1)

In [11]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min_petal
0           5.1          3.5           1.4          0.2  setosa        0.2
1           4.9          3.0           1.4          0.2  setosa        0.2
2           4.7          3.2           1.3          0.2  setosa        0.2
3           4.6          3.1           1.5          0.2  setosa        0.2
4           5.0          3.6           1.4          0.2  setosa        0.2

In [12]:
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

In [13]:
# print(iris.head())

In [14]:
# print(iris.tail())

# Exercise 7.7

Use a pivot table to compute the following statistics on sepal_width and petal_width grouped by species:

- median  
- mean

These can be computed together in a single call to `pivot_table()`.

In [15]:
pd.pivot_table(iris, 
               values=["sepal_width","petal_width"], 
               columns=["species"], 
               aggfunc = {np.mean, np.median})

species             setosa  versicolor  virginica
petal_width mean     0.246       1.326      2.026
            median   0.200       1.300      2.000
sepal_width mean     3.428       2.770      2.974
            median   3.400       2.800      3.000

# Exercise 7.8

Create two data frames with a common key column, such as a first name, and a single feature column, such as age or gender or height. 

Make sure:
* The two dataframes have different feature columns.
* Some of the key values in the two columns are shared.
* Each key column has a unique set of values.
* Also make sure the two key columns don't have an identical list of values.

The two tables can be of different lengths.

Use merge to join the tables using an inner join.

Use join to join the tables using an outer join.

In [16]:
left = pd.DataFrame({"key": ["jamie", "bill"], "lval": [15, 22]})
left = left.set_index('key')

In [17]:
left

       lval
key
jamie    15
bill     22

In [18]:
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "rval": [4, 5, 8]})
right = right.set_index('key')

In [19]:
right

       rval
key
jamie     4
bill      5
asher     8

In [20]:
pd.merge(left, right, on="key", how="inner")

       lval  rval
key
jamie    15     4
bill     22     5

In [21]:
left.join(right, how='outer')

       lval  rval
key
asher   NaN     8
bill   22.0     5
jamie  15.0     4

# Exercise 7.9

Create a series with the data $[1, 1, 2, 3, 5, 8]$.

Extract the data from the series and reshape to $2 \times 3$.  

Print both the reshaped data and its dimensions.

In [22]:
ser = pd.Series([1, 1, 2, 3, 5, 8])
vals = ser.values
resh = vals.reshape(2,3)

In [23]:
resh

array([[1, 1, 2],
       [3, 5, 8]])

In [24]:
resh.shape

(2, 3)

# Exercise 7.10

The dataframe below contains two categoricals. Dummify each of them, giving them a prefix and dropping the first level from each. 

```python
cats = pd.DataFrame({
    'breed':['persian','persian','siamese','himalayan','burmese'], 
    'color':['calico','white','seal point','cream','sable']
})
```

Hint: You can pass a list to the `prefix` parameter to apply prefixes to more than one column.

In [25]:
cats = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese'], 
                      'color':['calico','white','seal point','cream','sable']})

In [26]:
cats_combo = pd.get_dummies(cats, prefix=['b','c'])

In [27]:
cats_combo

,b_burmese,b_himalayan,b_persian,b_siamese,c_calico,c_cream,c_sable,c_seal point,c_white
0,0,0,1,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,1
2,0,0,0,1,0,0,0,1,0
3,0,1,0,0,0,1,0,0,0
4,1,0,0,0,0,0,1,0,0

In [28]:
cats_combo.T

              0  1  2  3  4
b_burmese     0  0  0  0  1
b_himalayan   0  0  0  1  0
b_persian     1  1  0  0  0
b_siamese     0  0  1  0  0
c_calico      1  0  0  0  0
c_cream       0  0  0  1  0
c_sable       0  0  0  0  1
c_seal point  0  0  1  0  0
c_white       0  1  0  0  0